---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Steps from '../components/Steps.astro';
import CTA from '../components/CTA.astro';
import Contact from '../components/Contact.astro';
---

<Layout
  title="Space for Neurodiversity"
  description="Empowering neurodivergent talent to soar in the space sector."
>
  <main class="main index-page">
    <!-- Hero Section -->
    <HeroSection />

    <!-- About Section -->
    <About />

    <!-- Services Section -->
    <Services />

    <!-- Our Approach / Steps Section -->
    <Steps />

    <!-- Call to Action Section -->
    <CTA />

    <!-- FAQs Section -->


    <!-- Contact Section -->
    <Contact />
  </main>
</Layout>